.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  
}

.container-cards {
  display: flex;
  gap: 20px;
  overflow-x: auto; /* permite rolagem horizontal */
  padding: 20px;
  width: 90vw;
}
.container ::-webkit-scrollbar{
display:none
}

.pokemon {
  min-width: 250px;
  min-height: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  flex-shrink: 0; /* impede que os cards encolham */
}

.pokemon img {
  height: 200px;
  width: 200px;
  margin-top: 20px;
}

.button button{
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 5px;
  color: rgb(56, 132, 173);
}


.button {
  display: flex;
  gap: 20px; /* distância entre os botões */
}